In [1]:
import requests

url = "https://aerodatabox.p.rapidapi.com/health/services/feeds/FlightSchedules/airports"

headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"
    }

response = requests.get(url, headers=headers)

response.json()["count"]

3113

In [9]:
url = "https://aerodatabox.p.rapidapi.com/airports/search/term"

querystring = {"q":"madrid","limit":"10"}

headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"
    }

response = requests.get(url, headers=headers, params=querystring)

result = response.json()
print(response.text)

{"searchBy":"madrid","count":4,"items":[{"icao":"LEMD","iata":"MAD","name":"Madrid Adolfo Suárez –Barajas","shortName":"Adolfo Suárez –Barajas","municipalityName":"Madrid","location":{"lat":40.4936,"lon":-3.56676},"countryCode":"ES","timeZone":"Europe/Madrid"},{"icao":"LECU","iata":"ECV","name":"Madrid Cuatro Vientos","shortName":"Cuatro Vientos","municipalityName":"Madrid","location":{"lat":40.3707,"lon":-3.78514},"countryCode":"ES","timeZone":"Europe/Madrid"},{"icao":"LETO","iata":"TOJ","name":"Madrid Torrejón","shortName":"Torrejón","municipalityName":"Madrid","location":{"lat":40.4967,"lon":-3.445869},"countryCode":"ES","timeZone":"Europe/Madrid"},{"icao":"MMIA","iata":"CLQ","name":"Colima Licenciado Miguel de la Madrid","shortName":"Licenciado Miguel de la Madrid","municipalityName":"Colima","location":{"lat":19.277,"lon":-103.577},"countryCode":"MX","timeZone":"America/Mexico_City"}]}

In [10]:
result["items"][0]["countryCode"]

'ES'

In [11]:
import pandas as pd

json_1 = {
    'first_key': {'inner_first_key': 1, 'inner_second_key': 2},
    'second_key': {'inner_first_key': 1, 'inner_second_key': 2}
}

pd.json_normalize(json_1)

,first_key.inner_first_key,first_key.inner_second_key,second_key.inner_first_key,second_key.inner_second_key
0,1,2,1,2

In [12]:
import pandas as pd

r_json = response.json()
r_json['items']

[{'icao': 'LEMD',
  'iata': 'MAD',
  'name': 'Madrid Adolfo Suárez –Barajas',
  'shortName': 'Adolfo Suárez –Barajas',
  'municipalityName': 'Madrid',
  'location': {'lat': 40.4936, 'lon': -3.56676},
  'countryCode': 'ES',
  'timeZone': 'Europe/Madrid'},
 {'icao': 'LECU',
  'iata': 'ECV',
  'name': 'Madrid Cuatro Vientos',
  'shortName': 'Cuatro Vientos',
  'municipalityName': 'Madrid',
  'location': {'lat': 40.3707, 'lon': -3.78514},
  'countryCode': 'ES',
  'timeZone': 'Europe/Madrid'},
 {'icao': 'LETO',
  'iata': 'TOJ',
  'name': 'Madrid Torrejón',
  'shortName': 'Torrejón',
  'municipalityName': 'Madrid',
  'location': {'lat': 40.4967, 'lon': -3.445869},
  'countryCode': 'ES',
  'timeZone': 'Europe/Madrid'},
 {'icao': 'MMIA',
  'iata': 'CLQ',
  'name': 'Colima Licenciado Miguel de la Madrid',
  'shortName': 'Licenciado Miguel de la Madrid',
  'municipalityName': 'Colima',
  'location': {'lat': 19.277, 'lon': -103.577},
  'countryCode': 'MX',
  'timeZone': 'America/Mexico_City'}]

In [13]:
df_json = pd.json_normalize(r_json)
df_json

  searchBy  count                                              items
0   madrid      4  [{'icao': 'LEMD', 'iata': 'MAD', 'name': 'Madr...

In [14]:
pd.json_normalize(r_json['items'])

,icao,iata,name,shortName,municipalityName,countryCode,timeZone,location.lat,location.lon
0,LEMD,MAD,Madrid Adolfo Suárez –Barajas,Adolfo Suárez –Barajas,Madrid,ES,Europe/Madrid,40.4936,-3.566760
1,LECU,ECV,Madrid Cuatro Vientos,Cuatro Vientos,Madrid,ES,Europe/Madrid,40.3707,-3.785140
2,LETO,TOJ,Madrid Torrejón,Torrejón,Madrid,ES,Europe/Madrid,40.4967,-3.445869
3,MMIA,CLQ,Colima Licenciado Miguel de la Madrid,Licenciado Miguel de la Madrid,Colima,MX,America/Mexico_City,19.2770,-103.577000

In [15]:
querystring = {"q":"paris","limit":"10"}

response = requests.request("GET", url, headers=headers, params=querystring)
items = response.json()
items

{'searchBy': 'paris',
 'count': 6,
 'items': [{'icao': 'LFPG',
   'iata': 'CDG',
   'name': 'Paris Charles de Gaulle',
   'shortName': 'Charles de Gaulle',
   'municipalityName': 'Paris',
   'location': {'lat': 49.0128, 'lon': 2.549999},
   'countryCode': 'FR',
   'timeZone': 'Europe/Paris'},
  {'icao': 'LFPO',
   'iata': 'ORY',
   'name': 'Paris -Orly',
   'shortName': '-Orly',
   'municipalityName': 'Paris',
   'location': {'lat': 48.7253, 'lon': 2.35944},
   'countryCode': 'FR',
   'timeZone': 'Europe/Paris'},
  {'icao': 'LFAT',
   'iata': 'LTQ',
   'name': "Le Touquet-Paris-Plage Le Touquet-Côte d'Opale",
   'shortName': "Le Touquet-Côte d'Opale",
   'municipalityName': 'Le Touquet-Paris-Plage',
   'location': {'lat': 50.5174, 'lon': 1.620589},
   'countryCode': 'FR',
   'timeZone': 'Europe/Paris'},
  {'icao': 'LFOB',
   'iata': 'BVA',
   'name': 'Beauvais/Tillé Paris Beauvais Tillé',
   'shortName': 'Paris Beauvais Tillé',
   'municipalityName': 'Beauvais/Tillé',
   'location': {'lat': 49.4544, 'lon': 2.11278},
   'countryCode': 'FR',
   'timeZone': 'Europe/Paris'},
  {'icao': 'LFPB',
   'iata': 'LBG',
   'name': 'Paris -Le Bourget',
   'shortName': '-Le Bourget',
   'municipalityName': 'Paris',
   'location': {'lat': 48.9694, 'lon': 2.44139},
   'countryCode': 'FR',
   'timeZone': 'Europe/Paris'},
  {'icao': 'KPHT',
   'iata': 'PHT',
   'name': 'Paris Henry County',
   'shortName': 'Henry County',
   'municipalityName': 'Paris',
   'location': {'lat': 36.3382, 'lon': -88.3829},
   'countryCode': 'US',
   'timeZone': 'America/Chicago'}]}

In [16]:
items['items'][0]

{'icao': 'LFPG',
 'iata': 'CDG',
 'name': 'Paris Charles de Gaulle',
 'shortName': 'Charles de Gaulle',
 'municipalityName': 'Paris',
 'location': {'lat': 49.0128, 'lon': 2.549999},
 'countryCode': 'FR',
 'timeZone': 'Europe/Paris'}

In [17]:
pd.json_normalize(items['items'])

,icao,iata,name,shortName,municipalityName,countryCode,timeZone,location.lat,location.lon
0,LFPG,CDG,Paris Charles de Gaulle,Charles de Gaulle,Paris,FR,Europe/Paris,49.0128,2.549999
1,LFPO,ORY,Paris -Orly,-Orly,Paris,FR,Europe/Paris,48.7253,2.359440
2,LFAT,LTQ,Le Touquet-Paris-Plage Le Touquet-Côte d'Opale,Le Touquet-Côte d'Opale,Le Touquet-Paris-Plage,FR,Europe/Paris,50.5174,1.620589
3,LFOB,BVA,Beauvais/Tillé Paris Beauvais Tillé,Paris Beauvais Tillé,Beauvais/Tillé,FR,Europe/Paris,49.4544,2.112780
4,LFPB,LBG,Paris -Le Bourget,-Le Bourget,Paris,FR,Europe/Paris,48.9694,2.441390
5,KPHT,PHT,Paris Henry County,Henry County,Paris,US,America/Chicago,36.3382,-88.382900

In [20]:
# Flight from "Paris Charles de Gaulle" aeroport

icao_from = 'LFPG'
icao_to = 'LEMD'

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{icao_from}/distance-time/{icao_to}"

response = requests.get(url, headers=headers)

print(response.json())

{'from': {'icao': 'LFPG', 'iata': 'CDG', 'name': 'Paris Charles de Gaulle', 'shortName': 'Charles de Gaulle', 'municipalityName': 'Paris', 'location': {'lat': 49.0128, 'lon': 2.549999}, 'countryCode': 'FR', 'timeZone': 'Europe/Paris'}, 'to': {'icao': 'LEMD', 'iata': 'MAD', 'name': 'Madrid Adolfo Suárez –Barajas', 'shortName': 'Adolfo Suárez –Barajas', 'municipalityName': 'Madrid', 'location': {'lat': 40.4936, 'lon': -3.56676}, 'countryCode': 'ES', 'timeZone': 'Europe/Madrid'}, 'greatCircleDistance': {'meter': 1062563.27, 'km': 1062.56, 'mile': 660.25, 'nm': 573.74, 'feet': 3486099.97}, 'approxFlightTime': '02:05:00'}

In [21]:
pd.json_normalize(response.json())

,approxFlightTime,from.icao,from.iata,from.name,from.shortName,from.municipalityName,from.location.lat,from.location.lon,from.countryCode,from.timeZone,...,to.municipalityName,to.location.lat,to.location.lon,to.countryCode,to.timeZone,greatCircleDistance.meter,greatCircleDistance.km,greatCircleDistance.mile,greatCircleDistance.nm,greatCircleDistance.feet
0,02:05:00,LFPG,CDG,Paris Charles de Gaulle,Charles de Gaulle,Paris,49.0128,2.549999,FR,Europe/Paris,...,Madrid,40.4936,-3.56676,ES,Europe/Madrid,1062563.27,1062.56,660.25,573.74,3486099.97

In [22]:
# Flight from "Paris -Orly" aeroport

icao_from = 'LFPO'
icao_to = 'LEMD'

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{icao_from}/distance-time/{icao_to}"

response = requests.get(url, headers=headers)

print(response.json())

{'from': {'icao': 'LFPO', 'iata': 'ORY', 'name': 'Paris -Orly', 'shortName': '-Orly', 'municipalityName': 'Paris', 'location': {'lat': 48.7253, 'lon': 2.35944}, 'countryCode': 'FR', 'timeZone': 'Europe/Paris'}, 'to': {'icao': 'LEMD', 'iata': 'MAD', 'name': 'Madrid Adolfo Suárez –Barajas', 'shortName': 'Adolfo Suárez –Barajas', 'municipalityName': 'Madrid', 'location': {'lat': 40.4936, 'lon': -3.56676}, 'countryCode': 'ES', 'timeZone': 'Europe/Madrid'}, 'greatCircleDistance': {'meter': 1027841.13, 'km': 1027.84, 'mile': 638.67, 'nm': 554.99, 'feet': 3372182.19}, 'approxFlightTime': '02:05:00'}

In [23]:
pd.json_normalize(response.json())

,approxFlightTime,from.icao,from.iata,from.name,from.shortName,from.municipalityName,from.location.lat,from.location.lon,from.countryCode,from.timeZone,...,to.municipalityName,to.location.lat,to.location.lon,to.countryCode,to.timeZone,greatCircleDistance.meter,greatCircleDistance.km,greatCircleDistance.mile,greatCircleDistance.nm,greatCircleDistance.feet
0,02:05:00,LFPO,ORY,Paris -Orly,-Orly,Paris,48.7253,2.35944,FR,Europe/Paris,...,Madrid,40.4936,-3.56676,ES,Europe/Madrid,1027841.13,1027.84,638.67,554.99,3372182.19

In [24]:
# Flight from "Beauvais" aeroport

icao_from = 'LFOB'
icao_to = 'LEMD'

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{icao_from}/distance-time/{icao_to}"

response = requests.get(url, headers=headers)

print(response.json())

{'from': {'icao': 'LFOB', 'iata': 'BVA', 'name': 'Beauvais/Tillé Paris Beauvais Tillé', 'shortName': 'Paris Beauvais Tillé', 'municipalityName': 'Beauvais/Tillé', 'location': {'lat': 49.4544, 'lon': 2.11278}, 'countryCode': 'FR', 'timeZone': 'Europe/Paris'}, 'to': {'icao': 'LEMD', 'iata': 'MAD', 'name': 'Madrid Adolfo Suárez –Barajas', 'shortName': 'Adolfo Suárez –Barajas', 'municipalityName': 'Madrid', 'location': {'lat': 40.4936, 'lon': -3.56676}, 'countryCode': 'ES', 'timeZone': 'Europe/Madrid'}, 'greatCircleDistance': {'meter': 1091175.82, 'km': 1091.18, 'mile': 678.03, 'nm': 589.19, 'feet': 3579973.15}, 'approxFlightTime': '02:10:00'}

In [25]:
pd.json_normalize(response.json())

,approxFlightTime,from.icao,from.iata,from.name,from.shortName,from.municipalityName,from.location.lat,from.location.lon,from.countryCode,from.timeZone,...,to.municipalityName,to.location.lat,to.location.lon,to.countryCode,to.timeZone,greatCircleDistance.meter,greatCircleDistance.km,greatCircleDistance.mile,greatCircleDistance.nm,greatCircleDistance.feet
0,02:10:00,LFOB,BVA,Beauvais/Tillé Paris Beauvais Tillé,Paris Beauvais Tillé,Beauvais/Tillé,49.4544,2.11278,FR,Europe/Paris,...,Madrid,40.4936,-3.56676,ES,Europe/Madrid,1091175.82,1091.18,678.03,589.19,3579973.15